# SPDX-FileCopyrightText: 2025 INDUSTRIA DE DISEÑO TEXTIL S.A. (INDITEX S.A.)
#
# SPDX-License-Identifier: Apache-2.0

# dotenv-linter:off IncorrectDelimiter

# GitHub Actions inputs should follow `INPUT_<name>` format (case-sensitive).
# Hyphens should not be converted to underscores!
INPUT_REPOSITORY=kubernetes/kubernetes
INPUT_MAINTAINERS=username1,username2
INPUT_TOKEN=<your-token>
INPUT_ORG=InditexTech
